body {
    font-family: 'Poppins', sans-serif;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.back-color {
    background-color: #373E98;
}


/*------------- Only For Carousel Text Responsiveness ---------*/

@media screen and (max-width:490px) {
    .slider-caption h1 {
        font-size: 20px;
    }

    .slider-caption p {
        font-size: 10px;
        margin: 0;
    }

    .slider-caption a {
        margin: 0 auto !important;
        font-size: 10px;
        padding: 2px 5px !important;
    }
}

@media screen and (max-width:260px) {
    .slider-caption h1 {
        font-size: 15px;
    }

    .slider-caption p {
        font-size: 8px;
    }
}